* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url('bg.png');
}
#container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}
#link {
  width: 450px;
  height: 66px;
  background: #f1f5ff;
  border: 3px solid #ebebeb;
  font-size: 10pt;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
#add {
  height: 40px;
   width: 150px;
   border: none;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
   text-transform: uppercase;
   text-decoration: none;
   font-size: .8em;
   letter-spacing: 1.5px;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   position: relative;
   overflow: hidden;
   cursor: pointer;
   background-color: #f1f5ff;
   display: block;
   color: black;
}
#counter {
  width: 40px;
  height: 40px;
  position: relative;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source:linear-gradient(to right, red, orange); /* !importanté */
  border-radius: 1em;
  text-align: center;
}
#counter span {
  top: 23%;
  font-size: 20px;
  color: white;
}

span {
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
  position: relative;
  transition: all .45s ease-Out;
  z-index: 1;
}
#add:hover span, #Convert:hover span{
    color: white !important;
}
#Convert {
  height: 30px;
   width: 100%;
   border: none;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
   text-transform: uppercase;
   text-decoration: none;
   font-size: .8em;
   letter-spacing: 1.5px;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   position: relative;
   overflow: hidden;
   cursor: pointer;
   background-color: #f1f5ff;
   position: absolute;
   top: 50%;
}
.circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #63717f;;
  position: absolute;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}
#add:hover .circle {
  width: 300px;
  height: 500px;
  opacity: 1;
  top: -70px;
  left: -70px;
}
#Convert:hover .circle {
  width: 3300px;
  height: 200px;
  opacity: 1;
  top: -70px;
  left:-400px;
}
h1 {
  position: absolute;
  font-size: 3.3em;
  color: white;
  letter-spacing: 2px;
  font-weight: 800;
  width: 100%;
  text-align: center;
}
